<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Todoist</title>
</head>

<body>
  <h1><%= title %></h1>

  <form action="/lists/3/items" method="POST">
    <input type="text" />
    <input type="submit" value="add" />
  </form>
</body>
